run*
*~
*.txt
*.fastq.gz
*.fq.gz
*paired*
*single*
*.gz
*.zip
*fq
*fastq
genome*
*.md5
*~
*.fastq.gz
*.gz
*.out
*.o*
*.qza*
*.qzv*
*.tsv*
*.csv*
*.x*
*.nwk
*.Rhistory
*.DS_Store
*.gz*
*.html
*.yml
*.pdf
*.kmz
